/* Brand Colors ------------------------------------------------*/
$header-font: #000530;
$skills-font: #404040;
$about-font: #373737;
$blue: #A2CCE5;
$title-shadow: #F9F9F9;
$footer-ground: #F3FBFF;
$font-highlight: #00639D;
$close-mark: #EDEDED;
